{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}


  <ul>
      <h2>Found pages:</h2>

      {% for entry in search_list %}
      <li><a href="wiki/{{entry}}" method="get">{{entry}}</a></li>

      {% empty %}
        <h2>Search Not Found</h2>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Home </a>
      {% endfor %}
  </ul>



{% endblock %}
<li><a href="wiki/{{entry}}" method="get">{{entry}}</a></li>
